/* Custom CSS Overrides */

.navbar-brand {
    margin-left: 2%;
}

.webpage-render {
    margin-top: 5%;
}

.stylizer-image {
    max-height: 100%;
}

.styled-image {
    max-height: 100%;
}

.pallet-image {
    visibility: hidden;
}

.image-dropdown {
    margin-top: 2%;
}

.stylize-button {
    margin-top: 1%;
}

.primary-pallet {
    margin-top: 1%;
}

.secondary-pallet {
    display: none;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.description {
    padding-top: -40%;
}