/* Custom CSS Overrides */

.navbar-brand {
    margin-left: 2%;
}

.webpage-render {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.stylizer-image {
    margin-top: 1%;;
    width: 100%;
    max-height: 100%;
}

.image-dropdown {
    margin-top: 1%;
    margin-left: 34%;
}

.stylize-button {
    margin-top: 1%;
    margin-left: 1%;
}

.primary-pallet {
    margin-top: 1%;
    margin-left: 0%;
}

.secondary-pallet {
    display: none;
    margin-top: 1%;
    margin-left: 10%;
}

.pallet-selection {
    margin-top: 1%;
    margin-left: -10%;
}