/* Custom CSS Overrides */

.navbar-brand {
    margin-left: 2%;
}

.webpage-render {
    margin-top: 5%;
    padding-bottom: 1%;
}

.project-card {
    border-radius: 25px;
    background-color: rgb(225, 216, 207)
}

.card-img-left {
    width: 100%;
    border: 1px solid;
}

.project-card-body {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0.1%;
    margin-right: 0.1%;
    display: table;
}

.nav-opacity {
    --bs-bg-opacity : 0.95;
    background-color: rgb(202, 194, 186)
}

.stylizer-image {
    max-height: 100%;
}

.styled-image {
    max-height: 100%;
}

.palette-image {
    visibility: hidden;
}

.image-dropdown {
    margin-top: 2%;
}

.stylize-button {
    margin-top: 1%;
    margin-bottom: 1%;
}

.primary-palette {
    margin-top: 1%;
}

.secondary-palette {
    display: none;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.selection-button {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.description {
    padding-top: -40%;
}

input[type="file"] {
    display: none;
}
.upload-primary{
    display:inline-block;
    font-weight:400;
    line-height:1.5;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    cursor:pointer;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    border-radius:.25rem;
    color:#fff;
    background-color:#0d6efd;
    border-color:#0d6efd}
.upload-primary:hover{
    color:#fff;
    background-color:#0b5ed7;
    border-color:#0a58ca}