/* Custom CSS Overrides - Projects Page */

.card-img-left {
    width: 100%;
    border: 1px solid;
}

.project-card-body {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0.1%;
    margin-right: 0.1%;
    display: table !important;
}

.project-card {
    border-radius: 25px !important;
    background-color: rgb(225, 216, 207) !important;
}

.project-card-column {
    vertical-align: middle;
    display: table-cell;
}

.project-card-title {
    margin-top:3%;
}
