[Unit]
Description=uWSGI server instance
After=syslog.target

[Service]
WorkingDirectory=/app/website
Environment="PATH=/app/venv_website/bin"
ExecStart=/app/venv_website/bin/uwsgi /app/website/server/www_tanaybennur.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
