<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tanay Bennur: Stylizer</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <script type=text/javascript>
        
        images = {
            "Beach" : "{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}", 
            "Cave" : "{{ url_for('static',     filename='defaultFiles/Images/cave.png') }}",
            "Foggy" : "{{ url_for('static',     filename='defaultFiles/Images/foggy.jpg') }}",
            "Lake" : "{{ url_for('static',     filename='defaultFiles/Images/lake.jpg') }}",
            "Microscope" : "{{ url_for('static',     filename='defaultFiles/Images/microscope.jpg') }}",
            "Mountain" : "{{ url_for('static',     filename='defaultFiles/Images/mountain.png') }}",
            "Pittsburgh" : "{{ url_for('static',     filename='defaultFiles/Images/pittsburgh.jpg') }}",
            "Sunset" : "{{ url_for('static',     filename='defaultFiles/Images/sunset.jpg') }}",
            "Train" : "{{ url_for('static',     filename='defaultFiles/Images/train.jpg') }}",
            "Wasteland" : "{{ url_for('static',     filename='defaultFiles/Images/wasteland.jpg') }}"
        }

        pallets = {
            "Small" : ["Carpet Rose", "Monometalic", "Stormy"], 
            "8-Color" : ["Ammo", "Dawnbringers", "Dreamscape", "Just Parchment", "Paper", "Rust Gold"],
            "16-Color" : ["Dawnbringer", "Endesgas", "Feel The Sun", "Galaxy Flame", "Lost Century", "Ramp Rainbow", "Steam Lords"],
            "32-Color" : ["AFR", "Endesga", "Fantasy", "Hept", "Marshmellow", "Nanner"],
            "Large" : ["Comicscapes", "Resurrect", "Shido"]
        }

        var pallet_selected = false;     
        var current_image = "Beach";
        var current_pallet = null; 

        async function stylize() {
            
            if (pallet_selected) {
                var image = document.getElementById("styled-image");
                $.getJSON("/stylize-info", {
                    current_image: current_image,
                    current_pallet: current_pallet
                })
                fetch("http://localhost:5000/stylize-button")
                .then(response => response.json())
                .then(data => {
                    image.src = "data:image/png;base64," + data.ImageBytes;
                });
            }; 
        
        }
        
        function select_image() {
            
            var image_dropdown = document.getElementById("image-selection-dropdown");
            var selected_image = image_dropdown.value;
            var image = document.getElementById("unstyled-image");
            
            image.src = images[selected_image];
            current_image = selected_image;

        }

        function generate_secondary_dropdown() {
            
            var pallet_primary = document.getElementById("pallet-primary");
            var pallet_size = pallet_primary.value;
            var pallet_secondary = document.getElementById("pallet-secondary");

            if (pallet_size == "Please Select a Pallet Size") {
                pallet_secondary.style.display = "none";        
                pallet_selected = false;
                current_pallet = null;
            }
            else {
                pallet_secondary.style.display = "block";
            }

            pallet_secondary.length = 1;

            for (var y in pallets[pallet_size]) {
                pallet_secondary.options[pallet_secondary.options.length] = new Option(pallets[pallet_size][y], pallets[pallet_size][y]);
            }

        }

        function select_pallet() {
            
            var pallet_primary = document.getElementById("pallet-primary");
            var pallet_size = pallet_primary.value;
            var pallet_secondary = document.getElementById("pallet-secondary");

            if (pallet_secondary.value == "Please Select a Pallet") {
                pallet_selected = false;
                current_pallet = null;
            }
            else {
                pallet_secondary.style.display = "block";
                pallet_selected = true;
                current_pallet = pallet_secondary.value;    
            }

        }

    </script>


    <div class="container webpage-render">
        <div class="container-fluid">
            <div class="row">
                
                <div class = "col-xxl-5">
                    
                    <div class='container align-top stylizer-image float-start'>
                        <img id = "unstyled-image" src="{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}" class="img-fluid">
                    </div>

                    <div class='container align-top image-dropdown float-start'>
                    <form>
                        <select onchange="select_image()" id="image-selection-dropdown" class="form-select-sm" aria-label="Default select example">
                            <option selected value="Beach">Beach</option>
                            <option value="Cave">Cave</option>
                            <option value="Foggy">Foggy</option>
                            <option value="Lake">Lake</option>
                            <option value="Microscope">Microscope</option>
                            <option value="Mountain">Mountain</option>
                            <option value="Pittsburgh">Pittsburgh</option>
                            <option value="Sunset">Sunset</option>
                            <option value="Train">Train</option>
                            <option value="Wasteland">Wasteland</option>
                        </select>
                    </form>
                    </div>

                </div>

                <div class="col-xxl-2">
                    <div class='container pallet-selection start-0 position-relative'>
                        <form>
                            <select onchange="generate_secondary_dropdown()" id="pallet-primary" class="form-select-sm primary-pallet" aria-label="Default select example">
                                <option selected>Please Select a Pallet Size</option>
                                <option value="Small">Small</option>
                                <option value="8-Color">8-Color</option>
                                <option value="16-Color">16-Color</option>
                                <option value="32-Color">32-Color</option>
                                <option value="Large">Large</option>
                            </select>
                            <select onchange="select_pallet()" id="pallet-secondary" class="form-select-sm secondary-pallet" aria-label="Default select example">
                                <option selected>Please Select a Pallet</option>
                            </select>
                        </form>
                    </div>
                
                    <div class='container align-top stylize-button position-relative text-center'>
                        <form>
                            <button onclick="stylize()" class='btn btn-primary' type="button">Stylize!</button>
                        </form>
                    </div>
                </div>

                <div class = "col-xxl-5">
                    <div class='container align-top stylizer-image float-start'>
                        <img id = "styled-image" src="{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}" class="img-fluid styled-image">
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    {% endblock %}
  </body>
</html>