<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tanay Bennur: Stylizer</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <script type=text/javascript>
        
        images = {
            1 : "{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}", 
            2 : "{{ url_for('static',     filename='defaultFiles/Images/cave.png') }}",
            3 : "{{ url_for('static',     filename='defaultFiles/Images/foggy.jpg') }}",
            4 : "{{ url_for('static',     filename='defaultFiles/Images/lake.jpg') }}",
            5 : "{{ url_for('static',     filename='defaultFiles/Images/microscope.jpg') }}",
            6 : "{{ url_for('static',     filename='defaultFiles/Images/mountain.png') }}",
            7 : "{{ url_for('static',     filename='defaultFiles/Images/pittsburgh.jpg') }}",
            8 : "{{ url_for('static',     filename='defaultFiles/Images/sunset.jpg') }}",
            9 : "{{ url_for('static',     filename='defaultFiles/Images/train.jpg') }}",
            10 : "{{ url_for('static',     filename='defaultFiles/Images/wasteland.jpg') }}",
        }

        function stylize() {
            $.getJSON('/stylize-button');
            return false;
        }
        
        function selection() {;
            var selection = document.getElementById("selection-test");
            var selectionVal = selection.value;
            var image = document.getElementById("unstyled-image");
            if (selectionVal != "Please Select an Image") {
                image.src = images[selectionVal];
            }
            $.getJSON('/selection-test',
            {
                selectionIndex: selectionVal
            });
            return false;
        }

    </script>


    <div class="container webpage-render">
        <div class='container stylize-button position-relative text-center'>
            <form>
                <button onclick="stylize()" class='btn btn-primary' type="button">Stylize!</button>
            </form>
        </div>
    
        <div>
        <div class='container stylizer-image float-start'>
            <img id = "unstyled-image" src="{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}" class="img-fluid">
        </div>

        <div class='container image-dropdown float-start'>
            <form>
                <select onchange="selection()" id="selection-test" class="form-select-sm" aria-label="Default select example">
                    <option selected>Please Select an Image</option>
                    <option value="1">Beach</option>
                    <option value="2">Cave</option>
                    <option value="3">Foggy</option>
                    <option value="4">Lake</option>
                    <option value="5">Microscope</option>
                    <option value="6">Mountain</option>
                    <option value="7">Pittsburgh</option>
                    <option value="8">Sunset</option>
                    <option value="9">Train</option>
                    <option value="10">Wasteland</option>
                </select>
            </form>
        </div>
    </div>

    {% endblock %}
  </body>
</html>