<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tanay Bennur: About</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
        
    <div class="container-fluid webpage-render">
      <div class = "row">
        <div class = "col-4">
          <img src = "{{ url_for('static',     filename='personalPictures/docksidePic.jpg') }}" class="img-fluid center">
        </div>
        <div class = "col-8">
          <p>
            Hi, I’m Tanay! I grew up in Philadelphia, Pennsylvania and am currently a sophomore studying CS and AI at CMU. I’m interested in a mixture of software engineering and artificial intelligence - I believe that AI is the future and I’d like to spend my career building ethical AI tools that help people.
          </p>
    
          <p>
            I built my first major project in my sophomore and junior year of high school - an automated Jigsaw Puzzle solver that used the numpy library and a few custom algorithms. The program took images of unsolved jigsaw puzzles and solved them, generating approximations of the completed puzzle. 
          </p>
          
          <p>
            During my senior year of high school, I started working with a team of my friends on Recollections, a turn-based RPG similar to the Fire Emblem series. Unfortunately, this project was never finished or published due to time constraints, but I learned valuable lessons in modular and deliberate programming, teamwork and project management.
          </p>
        
          <p>  
            My next project was this website. This project started with the stylizer, a C and Python program that applies filters to pictures to make them look like pixel art. I decided to publish the widget by creating a website around it, allowing me to learn valuable web development and server setup skills along the way.
          </p>

          <p>
            I built my latest project for a Natural Language Processing class in Fall 2022. My team built a fully functional question answering and question generation system using a mixture of Huggingface models, the spaCy library and our own linguistic functions. We also built our own evaluation and testing suite to assess our system.
          </p>
        
          <p>
          In my free time, I enjoy learning new pieces on the flute and piano, as well as playing Ultimate Frisbee. I also repair bicycles and teach bike repair - I’ve been working as a bicycle mechanic at Neighborhood Bike Works, a Philly bicycle education nonprofit since I was 14.
          </p>  
        </div>  
      </div>
    </div>    

    {% endblock %}
  </body>
</html>