<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Cipher Game</title>
    </head>
    <body>
    {% extends "template.html" %}
    {% block content %}    
    <div class="container-fluid webpage-render">
        <div class="container-fluid">
            
            <div class="row">
                <div class = "col-5">
                    <h1 class = "text-center">Original Text</h1>
                </div>
                <div class = "col-2">
                    {% if win %}
                    <div class='container align-top stylize-button position-relative text-center' style = 'margin-top: 2%;'>
                        <form method="post">
                            <button class="btn btn-primary" type="submit" name="again" value="again">Play Again?</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                <div class = "col-5">
                    <h1 class = "text-center">Decoded Text</h1>
                </div>
            </div>

            <div class="row">
                
                <div class = "col-5">
                    <p id = "raw-content" class = "text-center"> {{ cipher_text }} </p>
                </div>

                <div class="col-2">
                    <p id = "hints-content" class = "text-center">{{ hints }}</p>
                    <p class = "text-center">Replace</p>
                    <div class='container-fluid align-top d-flex justify-content-center' style = 'margin-top: -7%;'>
                        <form method="post">
                            <select class="form-select-sm" name="old_letter" onchange="this.form.submit()">
                                {% for letter in letters %}
                                    {% if letter == old_letter %}
                                        <option value="{{ letter }}" selected>{{ letter }}</option>
                                    {% else %}
                                        <option value="{{ letter }}">{{ letter }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <p class = "text-center">With</p>
                    <div class='container-fluid align-top d-flex justify-content-center' style = 'margin-top: -7%;'>
                        <form method="post">
                            <select class="form-select-sm" name="new_letter" onchange="this.form.submit()">
                                {% for letter in letters %}
                                    {% if letter == new_letter %}
                                        <option value="{{ letter }}" selected>{{ letter }}</option>
                                    {% else %}
                                        <option value="{{ letter }}">{{ letter }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class='container align-top stylize-button position-relative text-center' style = 'margin-top: 2%;'>
                        <form method="post">
                            <button class="btn btn-primary" type="submit" name="replace" value="replace">Go!</button>
                            <button class="btn btn-primary" type="submit" name="hint" value="hint">Hint!</button>
                        </form>
                    </div>
                    <p id = "rules-content" class = "text-center"> {{ rules }} </p>
                </div>

                <div class = "col-5">                    
                    <p id = "text-content" class = "text-center"> {{ user_text }} </p>
                </div>
                
            </div>

        </div>
    </div>

    {% endblock %}
  </body>
</html>
