<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tanay Bennur: Coursework</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container-fluid webpage-render">
        {% for year in years %}
            <div class ="row" style = "margin-top: 1%;">
                <div class = "col-xxl-6">
                    <h3> {{ year.fall_name }} </h3>
                    {% for class in year.fall_classes %}
                        <div>
                            <p style = "margin-bottom: 0%;"> {{ class.number }}: {{ class.name }}</p>
                            {% if class.technical %}
                                <a link href = "{{class.link}}">{{class.link}}</a>
                                <p> Grade Received - {{ class.grade }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class = "col-xxl-6">
                    {% if year.has_spring %}
                        <h3> {{ year.spring_name }} </h3>
                        {% for class in year.spring_classes %}
                            <div>
                                <p style = "margin-bottom: 0%;"> {{ class.number }}: {{ class.name }}</p>
                                {% if class.technical %}
                                    <a link href = "{{class.link}}">{{class.link}}</a>
                                    <p> Grade Received - {{ class.grade }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}   
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>