<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tanay Bennur: Home</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class = "container-fluid webpage-render">
      <div class = "row">
        <div class = "col-3">
          <img src="{{ url_for('static',     filename='personalPictures/tanayInformal.jpg') }}" class="img-fluid stylized-image center" style="margin-top: 0.35cm;">
        </div>
        <div class = "col-6 text-center">
          <h1 style="font-size: 60px; margin-top: 5cm;" class = "text-xxl-center">Hi, I'm Tanay!</h1>
          <p class = "text-xxl-center" style="font-size: 20px;"> Carnegie Mellon University '25</p>
          <p class = "text-xxl-center" style="font-size: 20px; margin-top: -0.4cm"> CS/AI Double Major </p>
        </div>
        <div class = "col-3">
          <img src="{{ url_for('static',     filename='personalPictures/tanayFormal.jpg') }}" class="img-fluid stylized-image center" style="margin-top: 0.35cm;">
        </div>
      </div>

    </div>

    {% endblock %}
  </body>
</html>