<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tanay Bennur: Projects</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',     filename='css/projectOverrides.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class = "container-fluid webpage-render">
      <div class ="row">
        <div class="col-6">
          <div class="vstack gap-4">
            {% for project in left_projects %}
              <div class="card project-card">
                <h2 class="card-title text-center project-card-title"> {{ project.title }} </h2>
                <div class="card-body" style="flex-direction: row;">
                  <div class="row project-card-body">
                    <div class="col-6 project-card-column">
                      <img class="card-img-left text-center" src="{{ url_for('static', filename = '') }}{{ project.thumbnail }}">
                      {% if project.has_link %}
                        <div class = "text-center">
                          <a href="{{ project.link }}" class="btn btn-primary-outline">Go to Project</a>              
                        </div>
                      {% endif %}
                    </div>
                    <div class="col-6 project-card-column">
                      <p class="card-text"> <b> Description: </b> {{ project.description }} </p>
                      {% if project.has_collaborators %}
                        <p class="card-text"> <b> Collaborators: </b> {{ project.collaborators }} </p>
                      {% endif %}
                      <p class="card-text"> <b> Timeline: </b> {{ project.timeline }} </p>
                      <p class="card-text"> <b> Technologies: </b> {{ project.technologies }} </p>
                      {% if project.has_skills %}
                      <p class="card-text"> <b> Collaborators: </b> {{ project.skills }} </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>   
            {% endfor %}
          </div>
        </div>
        <div class="col-6">
          <div class="vstack gap-4">
            {% for project in right_projects %}
              <div class="card project-card">
                <h2 class="card-title text-center project-card-title"> {{ project.title }} </h2>
                <div class="card-body" style="flex-direction: row;">
                  <div class="row project-card-body">
                    <div class="col-6 project-card-column">
                      <img class="card-img-left text-center" src="{{ url_for('static', filename = '') }}{{ project.thumbnail }}">
                      {% if project.has_link %}
                        <div class = "text-center">
                          <a href="{{ project.link }}" class="btn btn-primary-outline">Go to Project</a>              
                        </div>
                      {% endif %}
                    </div>
                    <div class="col-6 project-card-column">
                      <p class="card-text"> <b> Description: </b> {{ project.description }} </p>
                      {% if project.has_collaborators %}
                        <p class="card-text"> <b> Collaborators: </b> {{ project.collaborators }} </p>
                      {% endif %}
                      <p class="card-text"> <b> Timeline: </b> {{ project.timeline }} </p>
                      <p class="card-text"> <b> Technologies: </b> {{ project.technologies }} </p>
                      {% if project.has_skills %}
                      <p class="card-text"> <b> Collaborators: </b> {{ project.skills }} </p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div> 
            {% endfor %}
          </div>
        </div>
    </div>
    {% endblock %}
  </body>
</html>