<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tanay Bennur: Projects</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',     filename='css/projectOverrides.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class = "container-fluid webpage-render">
      <div class ="row">
        <div class="col-6">
          <div class="vstack gap-4">
            <div class="card project-card">
              <h2 class="card-title text-center project-card-title"> Jigsaw Puzzle Solver </h2>
              <div class="card-body" style="flex-direction: row;">
                <div class="row project-card-body">
                  <div class="col-6 project-card-column">
                    <img class="card-img-left text-center" src="{{ url_for('static',     filename='defaultFiles/portfolioPictures/solverScreenshot.jpg') }}">
                    <div class = "text-center">
                      <a href="https://gitlab.com/TBennur/puzzle-solver" class="btn btn-primary-outline">Go to Project</a>              
                    </div>
                  </div>
                  <div class="col-6 project-card-column">
                    <p class="card-text"> <b> Description: </b> This project uses custom image recognition algorithms to solve jigsaw puzzles. The original version uses selenium to solve puzzles on thejigsawpuzzles.com, while the main version converts pictures of physical puzzles into images of the solved version. </p>
                    <p class="card-text"> <b> Timeline: </b> March 2019 - February 2020 </p>
                    <p class="card-text"> <b> Technologies: </b> Python, Numpy, PIL, Selenium </p>
                  </div>
                </div>
              </div>
            </div>    
            <div class="card project-card">
              <h2 class="card-title text-center project-card-title"> SIAM M3 Challenge Submission </h2>
              <div class="card-body" style="flex-direction: row;">
                <div class="row project-card-body">
                  <div class="col-6 project-card-column">
                    <img class="card-img-left text-center" src="{{ url_for('static',     filename='defaultFiles/portfolioPictures/modellingScreenshot.jpg') }}">
                    <div class = "text-center">
                      <a href="https://m3challenge.siam.org/sites/default/files/uploads/FINALIST_14665.pdf" class="btn btn-primary-outline">Go to Project</a>              
                    </div>    
                  </div>
                  <div class="col-6 project-card-column">
                    <p class="card-text"> <b> Description: </b> A paper modelling the economics, necessity and allocation of cellular data infrastructure in the United States. This paper was a finalist in SIAM's M3 Modelling Competition (top 1% of submissions) and also recieved an honorable mention for technical computing.</p>
                    <p class="card-text"> <b> Collaborators: </b> Tobias Beidler-Shenk, Owen Moss, Ethan Soloway, Hayden Gold </p>
                    <p class="card-text"> <b> Timeline: </b> February 27th, 2021 </p>
                    <p class="card-text"> <b> Technologies: </b> Python, MATLAB, Numpy, Matplotlib </p>
                    <p class="card-text"> <b> Skills: </b> Mathematical Modelling</p>
                  </div>  
                </div>
              </div>
            </div>
            <div class="card project-card">
              <h2 class="card-title text-center project-card-title"> ProxyLab </h2>
              <div class="card-body" style="flex-direction: row;">
                <div class="row project-card-body">
                  <div class="col-6 project-card-column">
                    <img class="card-img-left text-center" src="{{ url_for('static',     filename='defaultFiles/portfolioPictures/proxyStockScreenshot.jpg') }}">
                  </div>
                  <div class="col-6 project-card-column">
                    <p class="card-text"> <b> Description: </b> This project was built as part of the course 15-213: Introduction to Computer Systems. In this project, I built a multi-threaded proxy server that handles GET requests. I also created (and integrated) parsing, error handling and caching systems for this server.</p>
                    <p class="card-text"> <b> Timeline: </b> November 17th - December 9th, 2022 </p>
                    <p class="card-text"> <b> Technologies: </b> C </p>
                    <p class="card-text"> <b> Skills: </b> GDB, System Design, Caching, Concurrency, Multithreading </p>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="vstack gap-4">
            <div class="card project-card">
              <h2 class="card-title text-center project-card-title"> Recollections: The Game </h2>
              <div class="card-body" style="flex-direction: row;">
                <div class="row project-card-body">
                  <div class="col-6 project-card-column">
                    <img class="card-img-left text-center" src="{{ url_for('static',     filename='defaultFiles/portfolioPictures/recollectionsScreenshot.jpg') }}">
                    <div class = "text-center">
                      <a href="https://gitlab.com/TBennur/rpg" class="btn btn-primary-outline">Go to Project</a>              
                    </div>              
                  </div>
                  <div class="col-6 project-card-column">
                    <p class="card-text"> <b> Description: </b> This attempted game was a turn based RPG akin to the Fire Emblem series. The game was never finished due to time constraints, but it was a valuable learning experience. </p>
                    <p class="card-text"> <b> Collaborators: </b> Rowen Slepian, Marko Melishchuk, Jacob Luterman, Virginia Yu, Tobias Beidler-Shenk, Brian Lu, Kyle Holm, Miranda Pan, Henry Leighton, Vilnis Chakars </p>
                    <p class="card-text"> <b> Timeline: </b> July 2020 - April 2021 </p>
                    <p class="card-text"> <b> Technologies: </b> Godot </p>
                    <p class="card-text"> <b> Skills: </b> Team Management, Game Design </p>
                  </div>
                </div> 
              </div>
            </div>    
            <div class="card project-card">
              <h2 class="card-title text-center project-card-title"> Website and Stylizer </h2>
              <div class="card-body" style="flex-direction: row;">
                <div class="row project-card-body">
                  <div class="col-6 project-card-column">
                    <img class="card-img-left text-center" src="{{ url_for('static',     filename='defaultFiles/portfolioPictures/stylizerScreenshot.jpg') }}">
                    <div class="text-center">
                      <a href="https://github.com/TBennur/website" class="btn btn-primary-outline">Go to Project</a>              
                    </div>              
                  </div>
                  <div class="col-6 project-card-column">
                    <p class="card-text"> <b> Description: </b> This is my personal website! The website was built around the stylizer widget, a tool that allows users to render their pictures in small color palettes reminiscent of 8-bit games. </p>
                    <p class="card-text"> <b> Timeline: </b> January 2022 - Present </p>
                    <p class="card-text"> <b> Technologies: </b> C, Python, Numpy, Flask, Bootstrap, Javascript, HTML, CSS</p>
                    <p class="card-text"> <b> Skills: </b> Web Development, Server Setup and Management </p>
                  </div>  
                </div>
              </div>
            </div>
            <div class="card project-card">
              <h2 class="card-title text-center project-card-title"> Question Generation/Question Answering </h2>
              <div class="card-body" style="flex-direction: row;">
                <div class="row project-card-body">
                  <div class="col-6 project-card-column">
                    <img class="card-img-left text-center" src="{{ url_for('static',     filename='defaultFiles/portfolioPictures/questionStockScreenshot.jpg') }}">
                    <div class = "text-center">
                      <a href="https://github.com/TBennur/11411FinalProject" class="btn btn-primary-outline">Go to Project</a>              
                    </div>              
                  </div>
                  <div class="col-6 project-card-column">
                    <p class="card-text"> <b> Description: </b> This project was built for the course 11-411: Natural Language Processing. My team built a fully functional question answering and question generation system using a mixture of Huggingface models, the spaCy library and our own linguistic functions. We also built our own evaluation and testing suite to assess our system. </p>
                    <p class="card-text"> <b> Collaborators: </b> Alexandra Knox, Kevin Ren </p>
                    <p class="card-text"> <b> Timeline: </b> September 2022 - December 2022 </p>
                    <p class="card-text"> <b> Technologies: </b> Python, spaCy, PyTorch, Huggingface, Transformers, Git, Docker </p>
                    <p class="card-text"> <b> Skills: </b> Project Management, Unit Testing, System Design, System Evaluation </p>
                  </div>
                </div> 
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>