<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tanay Bennur: Stylizer</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',     filename='css/stylizerOverrides.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <script type=text/javascript>
        
        // Addresses for default images
        images_address = {
            1 : "{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}", 
            2 : "{{ url_for('static',     filename='defaultFiles/Images/cave.png') }}",
            3 : "{{ url_for('static',     filename='defaultFiles/Images/foggy.jpg') }}",
            4 : "{{ url_for('static',     filename='defaultFiles/Images/lake.jpg') }}",
            5 : "{{ url_for('static',     filename='defaultFiles/Images/microscope.jpg') }}",
            6 : "{{ url_for('static',     filename='defaultFiles/Images/mountain.png') }}",
            7 : "{{ url_for('static',     filename='defaultFiles/Images/pittsburgh.jpg') }}",
            8 : "{{ url_for('static',     filename='defaultFiles/Images/sunset.jpg') }}",
            9 : "{{ url_for('static',     filename='defaultFiles/Images/train.jpg') }}",
            10 : "{{ url_for('static',     filename='defaultFiles/Images/wasteland.jpg') }}"
        }

        images_naming = {
            1 : "Beach",
            2 : "Cave",
            3 : "Foggy",
            4 : "Lake",
            5 : "Microscope",
            6 : "Mountain",
            7 : "Pittsburgh",
            8 : "Sunset",
            9 : "Train",
            10 : "Wasteland"
        }

        // Palette size hierarchy


        // Status variables
        var palette_selected = false;     
        var current_palette = null; 
        var current_image = "Beach";
        var image_custom = false;

        // Main function, runs on stylize button press
        async function stylize() {
            
            var image = document.getElementById("styled-image");
            var error_text = document.getElementById("file-error");
            fetch("{{ url_for('stylize_button') }}", 
                {method: "POST", 
                headers: {'content-type': 'application/json'},
                body: JSON.stringify(current_image + "|" + image_custom)})
            .then(response => response.json())
            .then(data => {
                if (data.Status == "Success") {
                    image.src = "data:image/png;base64," + data.ImageBytes;
                }
                else {
                    error_text.hidden = false;
                    error_text.innerHTML = data.Reason;
                }
            });
        
        }
        
        // Updates selected image
        function select_image() {
            
            var selected_image_num = Math.floor(Math.random() * 10) + 1
            var selected_image_name = images_naming[selected_image_num]
            var image = document.getElementById("unstyled-image");

            while (selected_image_name == current_image) {
                selected_image_num = Math.floor(Math.random() * 10) + 1
                selected_image_name = images_naming[selected_image_num]
            }

            image.src = images_address[selected_image_num];
            current_image = selected_image_name;
            image_custom = false;

        }

        async function upload() {
            var upload_button = document.getElementById("image-upload");
            var source_image = document.getElementById("unstyled-image");
            var error_text = document.getElementById("file-error");
            var file = upload_button.files[0];
            const formData = new FormData();

            formData.append("file", file)

            fetch("{{ url_for('visualize_image') }}", 
                {method: "POST", 
                files: file,
                body: formData})
            .then(response => response.json())
            .then(data => {
                if (data.Status == "Success") {
                    source_image.src = "data:image/png;base64," + data.ImageBytes;
                    current_image = file.name;
                    image_custom = true;
                    error_text.hidden = true;
                }
                else {
                    error_text.hidden = false;
                    error_text.innerHTML = data.Reason;
                }
            });
        }
        

    </script>

    <div class="container-fluid webpage-render">
        <div class="container-fluid">
            <div class="row">
                <div class = "col-5">
                    <h3 class = "text-center"> Starting Image </h3>
                </div>
                <div class = "col-2">
                    <h3 class = "text-center"> Palette </h3>
                </div>
                <div class = "col-5">
                    <h3 class = "text-center"> Stylized Image </h3>
                </div>
            </div>
            
            <div class="row">
                
                <div class = "col-5">
                    
                    <div class='container align-top stylizer-image text-center'>
                        <img id = "unstyled-image" src="{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}" class="img-fluid stylized-image center">
                    </div>

                    <div class='container text-center'>
                        <form>
                            <button onclick="select_image()" class='btn btn-primary selection-button' type="button">Random Image!</button>
                            
                            <label class = "upload-primary selection-button">
                                <input type = "file" name = "file" id = "image-upload" onchange = "upload()">
                                Upload File
                            </label>
                        </form>
                    </div>

                    <p id = "file-error" class = "text-center" hidden></p>

                </div>

                <div class="col-2">
                    <div class='container-fluid align-top d-flex justify-content-center'>
                        <form method="post">
                            <select onchange="this.form.submit()" name="palette-primary" class="form-select-sm primary-palette">
                                {% for palette in primary_palettes %}
                                    {% if palette == primary_palette %}
                                        <option value = "{{ palette }}" selected> {{ palette }}</option>
                                    {% else %}
                                        <option value = "{{ palette }}"> {{ palette }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if primary_selected %}
                                <select onchange="this.form.submit()" name="palette-secondary" class="form-select-sm secondary-palette">
                                    {% for palette in secondary_palettes %}
                                        {% if palette == secondary_palette %}
                                            <option value = "{{ palette }}" selected> {{ palette }}</option>
                                        {% else %}
                                            <option value = "{{ palette }}"> {{ palette }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </form>
                    </div>
                
                    <div class='container align-top stylize-button position-relative text-center'>
                        <form>
                            <button onclick="stylize()" class='btn btn-primary' type="button">Stylize!</button>
                        </form>
                    </div>

                    <div class='container-fluid align-top text-center'>
                        {% if secondary_selected %}
                            <img id = "palette-image" class="img-fluid styled-image center" src="{{palette_image}}">
                        {% endif %}
                    </div>
                </div>

                <div class = "col-5">
                    <div class='container align-top stylizer-image text-center'>
                        <img id = "styled-image" src="{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}" class="img-fluid styled-image center">
                    </div>
                </div>
                
            </div>

            <div class="row stylizer-bottom-text">
                <p class = "text-center"> This tool allows you to render pictures in small color palettes reminiscent of 8-bit games. These palettes can be found online at 
                    <a href = "https://lospec.com/palette-list" class = "text-dark" style = "text-decoration: none"> 
                        https://lospec.com/palette-list.
                    </a>
                </p>
            </div>

        </div>
    </div>

    {% endblock %}
  </body>
</html>
