<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tanay Bennur: Stylizer</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <script type=text/javascript>
        
        // Addresses for default images
        images = {
            "Beach" : "{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}", 
            "Cave" : "{{ url_for('static',     filename='defaultFiles/Images/cave.png') }}",
            "Foggy" : "{{ url_for('static',     filename='defaultFiles/Images/foggy.jpg') }}",
            "Lake" : "{{ url_for('static',     filename='defaultFiles/Images/lake.jpg') }}",
            "Microscope" : "{{ url_for('static',     filename='defaultFiles/Images/microscope.jpg') }}",
            "Mountain" : "{{ url_for('static',     filename='defaultFiles/Images/mountain.png') }}",
            "Pittsburgh" : "{{ url_for('static',     filename='defaultFiles/Images/pittsburgh.jpg') }}",
            "Sunset" : "{{ url_for('static',     filename='defaultFiles/Images/sunset.jpg') }}",
            "Train" : "{{ url_for('static',     filename='defaultFiles/Images/train.jpg') }}",
            "Wasteland" : "{{ url_for('static',     filename='defaultFiles/Images/wasteland.jpg') }}"
        }

        // Palette size hierarchy
        palettes = {
            "Small" : ["Carpet Rose", "Monometalic", "Stormy"], 
            "8-Color" : ["Ammo", "Dawnbringers", "Dreamscape", "Just Parchment", "Paper", "Rust Gold"],
            "16-Color" : ["Dawnbringer", "Endesgas", "Feel The Sun", "Galaxy Flame", "Lost Century", "Ramp Rainbow", "Steam Lords"],
            "32-Color" : ["AFR", "Endesga", "Fantasy", "Hept", "Marshmellow", "Nanner"],
            "Large" : ["Comicscapes", "Resurrect", "Shido"]
        }

        // Status variables
        var palette_selected = false;     
        var current_image = "Beach";
        var current_palette = null; 

        // Main function, runs on stylize button press
        async function stylize() {
            
            if (palette_selected) {
                var image = document.getElementById("styled-image");
                fetch("{{ url_for('stylize_button') }}", 
                    {method: "POST", 
                    headers: {'content-type': 'application/json'},
                    body: JSON.stringify(current_image + "|" + current_palette)})
                .then(response => response.json())
                .then(data => {
                    image.src = "data:image/png;base64," + data.ImageBytes;
                });
            }; 
        
        }
        
        // Updates selected image
        function select_image() {
            
            var image_dropdown = document.getElementById("image-selection-dropdown");
            var selected_image = image_dropdown.value;
            var image = document.getElementById("unstyled-image");
            
            image.src = images[selected_image];
            current_image = selected_image;

        }

        // Updates cascading dropdown
        function generate_secondary_dropdown() {
            
            var palette_primary = document.getElementById("palette-primary");
            var palette_size = palette_primary.value;
            var palette_secondary = document.getElementById("palette-secondary");
            var palette_image = document.getElementById("palette-image");

            if (palette_size == "Please Select a Palette Size") {
                palette_secondary.style.display = "none";        
                palette_image.style.visibility = "hidden";        
                palette_selected = false;
                current_palette = null;
            }
            else {
                palette_secondary.style.display = "block";
                palette_image.style.visiblity = "hidden";
            }

            palette_secondary.length = 1;

            for (var y in palettes[palette_size]) {
                palette_secondary.options[palette_secondary.options.length] = new Option(palettes[palette_size][y], palettes[palette_size][y]);
            }

        }

        // Updates palette selection
        function select_palette() {
            
            var palette_primary = document.getElementById("palette-primary");
            var palette_size = palette_primary.value;
            var palette_secondary = document.getElementById("palette-secondary");
            var palette_image = document.getElementById("palette-image");

            if (palette_secondary.value == "Please Select a palette") {
                palette_selected = false;
                current_palette = null;
                palette_image.style.visibility = "hidden";        
            }
            else {
                palette_secondary.style.display = "block";
                palette_selected = true;
                current_palette = palette_secondary.value; 
                palette_image.style.visibility = "visible";
                fetch("{{ url_for('visualize_palette') }}", 
                    {method: "POST", 
                    headers: {'content-type': 'application/json'},
                    body: JSON.stringify(current_palette)})
                .then(response => response.json())
                .then(data => {
                    palette_image.src = "data:image/png;base64," + data.ImageBytes;
                });            
            }

            }

        async function upload() {
            var upload_button = document.getElementById("image-upload")
            var source_image = document.getElementById("unstyled-image");
            var file = upload_button.files[0]
            const formData = new FormData();

            formData.append("file", file)

            fetch("{{ url_for('visualize_image') }}", 
                {method: "POST", 
                files: file,
                body: formData})
            .then(response => response.json())
            .then(data => {
                if (data.Status == "Success") {
                    source_image.src = "data:image/png;base64," + data.ImageBytes;
                }
                else {
                    source_image.src = images["Beach"];
                }
            });
        }
        

    </script>

    <div class="container-fluid webpage-render">
        <div class="container-fluid">
            <div class="row">
                <div class = "col-xxl-5">
                    <h3 class = "text-center"> Starting Image </h3>
                </div>
                <div class = "col-xxl-2">
                    <h3 class = "text-center"> Palette </h3>
                </div>
                <div class = "col-xxl-5">
                    <h3 class = "text-center"> Stylized Image </h3>
                </div>
            </div>
            
            <div class="row">
                
                <div class = "col-xxl-5">
                    
                    <div class='container align-top stylizer-image text-center'>
                        <img id = "unstyled-image" src="{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}" class="img-fluid stylized-image center">
                    </div>

                    <div class='container align-top text-center'>
                    <form>
                        <select onchange="select_image()" id="image-selection-dropdown" class="form-select-sm image-dropdown" aria-label="Default select example">
                            <option selected value="Beach">Beach</option>
                            <option value="Cave">Cave</option>
                            <option value="Foggy">Foggy</option>
                            <option value="Lake">Lake</option>
                            <option value="Microscope">Microscope</option>
                            <option value="Mountain">Mountain</option>
                            <option value="Pittsburgh">Pittsburgh</option>
                            <option value="Sunset">Sunset</option>
                            <option value="Train">Train</option>
                            <option value="Wasteland">Wasteland</option>
                        </select>
                    </form>
                    </div>

                </div>

                <div class="col-xxl-2">
                    <div class='container-fluid align-top d-flex justify-content-center'>
                        <form>
                            <select onchange="generate_secondary_dropdown()" id="palette-primary" class="form-select-sm primary-palette" aria-label="Default select example">
                                <option selected>Please Select a Palette Size</option>
                                <option value="Small">Small</option>
                                <option value="8-Color">8-Color</option>
                                <option value="16-Color">16-Color</option>
                                <option value="32-Color">32-Color</option>
                                <option value="Large">Large</option>
                            </select>
                            <select onchange="select_palette()" id="palette-secondary" class="form-select-sm secondary-palette" aria-label="Default select example">
                                <option selected>Please Select a palette</option>
                            </select>
                        </form>
                    </div>
                
                    <div class='container align-top stylize-button position-relative text-center'>
                        <form>
                            <button onclick="stylize()" class='btn btn-primary' type="button">Stylize!</button>
                        </form>
                    </div>

                    <div class='container-fluid align-top palette-image text-center'>
                        <img id = "palette-image" class="img-fluid styled-image center">
                    </div>
                </div>

                <div class = "col-xxl-5">
                    <div class='container align-top stylizer-image text-center'>
                        <img id = "styled-image" src="{{ url_for('static',     filename='defaultFiles/Images/beach.jpg') }}" class="img-fluid styled-image center">
                    </div>
                </div>
                
            </div>

            <div class="row" style="margin-top: 1%;">
                <p class = "text-center"> This tool allows you to render pictures in small color palettes reminiscent of 8-bit games. These palettes can be found online at 
                    <a href = "https://lospec.com/palette-list" class = "text-dark" style = "text-decoration: none"> 
                        https://lospec.com/palette-list.
                    </a>
                </p>
            </div>

            <label class = "upload-primary">
                <input type = "file" name = "file" id = "image-upload" onchange = "upload()">
                Custom Upload
            </label>

        </div>
    </div>

    {% endblock %}
  </body>
</html>
